[alias]
	lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
[color]
	ui = true
	branch = auto
	diff = auto
[color "status"]
	added = green
	changed = cyan
	untracked = magenta
	deleted = red
[user]
	name = Justin Cowperthwaite
	email = justinc474@gmail.com
[push]
	default = current
[filter "lfs"]
	clean = git-lfs clean %f
	smudge = git-lfs smudge %f
	required = true
[merge]
	conflictstyle = diff3
[core]
	excludesfile=~/.gitignore_global
	editor = vim
[rerere]
	enabled = true
[url "ssh://git@github.com:"]
	insteadOf = https://github.com
